<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link href="<%=assets.fonts%>" rel="stylesheet" type="text/css" />
        <style>
            body {
                margin: 0;
            }

            .main {
                width: 600px;
                background-color: #efefef;
            }

            .header {
                background-image: url(<%=assets.header%>);
                height: 401px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .headText {
                color: #fff;
                text-align: center;
                font-size: 12px;
                margin: 0;
                padding: 2px;
                font-family: 'Montserrat';
                font-weight: 500;
            }

            .logo {
                margin: 69px 216px 17px 216px;
            }

            .centerdiv {
                margin-left: 7em;
                margin-right: 7em;
            }

            .textmain {
                text-align: center;
                font-size: 13px;
                font-family: 'Montserrat';
                font-weight: 400;
            }

            .credentials {
                text-align: center;
                color: #fff;
                font-weight: bolder;
                padding: 12px;
                border-bottom: 2px solid white;
                font-size: 20px;
                font-family: 'Montserrat';
                font-weight: 600;
            }

            .credentialsSection {
                background-color: #00c6ff;
                border: 1px transparent;
                border-radius: 16px;
            }

            .detailsWrap {
                height: 100px;
            }

            .details {
                text-align: center;
                color: #040404;
                font-size: 14px;
                margin: 0;
                padding-top: 16px;
                font-weight: 100;
                font-family: 'Montserrat';
                font-weight: 600;
            }

            .downloadApp {
                text-align: center;
                color: #042448;
                font-size: 20px;
                font-weight: bolder;
                font-family: 'Montserrat';
                font-weight: 600;
            }

            .storeWrapper {
                text-align: center;
            }

            .googleStore {
                width: 160px;
                margin: 5px;
            }

            .appleStore {
                width: 160px;
                margin: 5px;
            }

            .urlWrapper {
                text-align: center;
                margin-top: 21px;
            }

            .url {
                margin: 5px;
                font-size: 14px;
                font-family: 'Montserrat';
                font-weight: 200;
                color: #000;
            }

            .footer {
                background-image: url(<%=assets.footer%>);
                height: 111px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .social-icons {
                display: inline;
                font-family: 'Montserrat';
                font-weight: 200;
                font-size: 12px;
                padding: 0 6px;
            }

            .linkcolor {
                color: #131a37;
            }

            .socials {
                text-align: center;
                padding-top: 64px;
            }
        </style>
    </head>

    <body>
        <div class="main">
            <div class="header">
                <img src="<%= assets.logo %>" class="logo" alt=" logo" />
                <h4 class="headText">GOING AN EXTRA MILE FOR YOUR KID</h4>
            </div>
            <div class="centerdiv">
                <p class="textmain">
                    These paragraphs are styled with CSS These paragraphs are
                    styled with CSS. These paragraphs are styled with CSS These
                    paragraphs are styled with CSS.
                </p>
                <div class="credentialsSection">
                    <h4 class="credentials">
                        <%= title %>
                    </h4>
                    <div class="detailsWrap">
                        <h4 class="details">
                            <%= message %>
                        </h4>
                    </div>
                </div>
                <h3 class="downloadApp">Download our app now!</h3>
                <p class="textmain">
                    These paragraphs are styled with CSS These paragraphs are
                    styled with CSS. These paragraphs are styled with CSS These
                    paragraphs are styled with CSS.
                </p>
                <div class="storeWrapper">
                    <img
                        class="googleStore"
                        draggable="false"
                        src="<%= assets.appleIcon %>"
                        alt=" googleStore"
                    />
                    <img
                        class="appleStore"
                        draggable="false"
                        src="<%= assets.androidIcon %>"
                        alt=" appleStore"
                    />
                </div>
                <div class="urlWrapper">
                    <p class="url">For more visit:</p>
                    <a href="www.bincee.com" class="url">www.bincee.com</a>
                </div>
            </div>
            <div class="footer">
                <div class="socials">
                    <ul style="    padding: 0;">
                        <li class="social-icons">
                            <a class=" linkcolor" href="#">
                                <img
                                    draggable="false"
                                    src="<%= assets.fbIcon %>"
                                    class="img-fluid"
                                    alt=""
                                />
                            </a>
                        </li>
                        &nbsp;&nbsp;
                        <li class="social-icons">
                            <a class=" linkcolor" href="#">
                                <img
                                    draggable="false"
                                    src="<%= assets.igIcon %>"
                                    class="img-fluid"
                                    alt=""
                                />
                            </a>
                        </li>
                        &nbsp;&nbsp;
                        <li class="social-icons">
                            <a class=" linkcolor" href="#">
                                <img
                                    draggable="false"
                                    src="<%= assets.twIcon %>"
                                    class="img-fluid"
                                    alt=""
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
